<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <% if (currentUser) { %>
        <div class="ui raised very padded text container segment">
        <div class="ui cards">    
        <div class="ui fluid card">
            <div class="content">
              <div class="header">Ticket Details</div>
            </div>
            <div class="content">
              <h3 class="ui header">Ticket: <%= ticket.name %></h3>
              <div class="ui small feed">
                <div class="event">
                  <div class="content">
                    <div class="summary">
                        <h4>Request: <br /><%= ticket.request %></h4>
                        <h4>Created: <br /><%= ticket.createdAt.toDateString() %></h4>
                        <h4>Updated: <br /><%= ticket.updatedAt.toDateString() %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui fluid card">
            <div class="content">
                <a href="/tickets/<%=id%>/edit">
                    <button class="ui fluid button" >EDIT TICKET</button>
                </a><br />
                <form class="ui form" action="/resolved/<%=id%>?_method=PUT" method="POST">
                  <button class="ui fluid button" type="submit">RESOLVE TICKET</button>
                </form><br />
                <form class="ui form" action="/tickets/<%=id%>?_method=DELETE" method="POST">
                    <button class="ui fluid button" type="submit">DELETE</button>
                </form><br />
                <% if(!currentUser.isAdmin) { %>
                <a href="/users/">
                    <button class="ui fluid button" >BACK</button>
                </a>
                <% } else { %>
                  <a href="/admin/<%=userid%>">
                    <button class="ui fluid button" >BACK</button>
                </a>
                <%  } %>
              </div>
        </div>
    </div>
    <% } %>
     
</body>
</html>