<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <% if (currentUser) { %>
        <h1>Ticket Details</h1>
        <h3><%= ticket.name %></h3>
        <h4><%= ticket.request %></h4>
        <h4><a href="/tickets/<%=id%>/edit">Edit this Ticket</a></h4>
        <form action="/tickets/<%=id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form>
        <form action="/resolved/<%=id%>?_method=PUT" method="POST">
            <input type="submit" value="RESOLVE TICKET">
        </form>
    <% } %>
</body>
</html>