<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <h1>QTicket User Homepage</h1>
    <%- include("../partials/nav.ejs") %>
    <a href="/tickets/new">Add new ticket</a>
    <h2>
        <% if (currentUser) { %>
            Welcome <%= currentUser.username %>!
        <% } %>
    </h2>
    <% if (currentUser) { %>
        <h3>Submitted Tickets</h3>
        <ul>
            <% for(let i = 0; i < tickets.length; i++) { %>
                <li><a href="/tickets/<%=tickets[i].id%>"><%=tickets[i].name%></a></li>
           <% } %>
        </ul>
    <% } %>

</body>
</html>