<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>  
    <%- include("../partials/nav.ejs") %>
    
        <% if (currentUser) { %>
            <h2>Welcome <%= currentUser.username %>!</h2>
        <% } %>
    
    <% if (currentUser) { %>
        <div class="ui raised very padded text container segment">
            <h2 class="ui header">Submitted Tickets</h2>
            <ul>
                <% for(let i = 0; i < tickets.length; i++) { %>
                    <% if(!tickets[i].resolved) { %>
                    <li><a href="/tickets/<%=tickets[i].id%>"><%=tickets[i].name%></a></li>
                    <% } %>
               <% } %>
            </ul>
        </div>
        <% } %>

</body>
</html>